h1 {
    color:blue;
    background-color:black
}

div > h1 {
    color:green
}

#section {
    background-color:blue;
}

.buttons {
    padding:20px
}

.drop-down {
    padding: 1rem;
    width: 150px;
}

button {
    color: white;
    font-weight: bold;
    background-color: blue;
    width: 120px;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button {
    width: 180px;
}


